@model mecp_kontent_core.Models.Homepage
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <section class="bg-hero full-height home container-fluid">
    <img title="MECP" alt="MECP" src="@Html.DisplayFor(Model => Model.HeroImage.FirstOrDefault().Url)" />
    <div id="mission-statement" class="content sticky-item">
      <h1 class="title">
        <p>@Html.DisplayFor(Model => Model.HeroText)</p>
      </h1>
      <br /><br />
      <section>
        <div class="buttons container">
            @Html.DisplayFor(Model => Model.HeroLinks)
        </div>
      </section>
    </div>
    <a
      class="scroll-down-button icon-down-arrow"
      href="/index.html#aboutMECP"
    ></a>   
  </section>
    <section id="aboutMECP" class="padding-top-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-offset-3 col-lg-9">
                    <h2>
                        <p>@Html.Raw(Model.PageTitle)</p>
                    </h2>
                </div>
            </div>
            <div class="row padding-vertical-lg">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="logo-wrapper padding-bottom-sm">
                        <img src="@Model.MecpLogo.FirstOrDefault().Url" alt />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    @Html.DisplayFor(Model => Model.IntroText)
                </div>
            </div>
        </div>
  </section>
  <section>
    @Html.DisplayFor(Model => Model.PromoZone)
  </section>
</div>
